
.center{
    background-image: url("https://media.istockphoto.com/id/863607936/photo/to-do-list-on-note-pad-with-coffee-and-pen-on-office-desk.jpg?s=612x612&w=0&k=20&c=3ZpVRcBI9oGdPty0agkNlqzrAI3AnvjgpRdtDrjvHqI=")
}    
.heading{
    text-align: center;
    font-family:Roboto;
    font-size: 100px;
}
.background{
    background-color: #ffffff;
}
.button{
    height: 50px;
    width: 100px;
    background-color: #ffffff;

}
.paragraph{
    text-align: center;
    font-size: large;
}